<section class="container" style="position: absolute;top: 110px;left: 29%;">
    <div class="container_fluid">
        <div class="col-6 text-center">

                <div class="row">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1" style="display: flex;">Username</label>
                        <input type="email" id="form2Example1" class="form-control" [(ngModel)]="email"/>     
                    </div>
                </div>

                <div class="row">
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example2" style="display: flex;">Password</label>
                        <input type="password" id="form2Example2" class="form-control" [(ngModel)]="password"/>
                    </div>
                </div>

                <div class="row" style="width: 20rem;position: relative;left: 25%;">
                    <!-- Submit button -->
                    <button type="button" class="btn btn-primary btn-block mb-4" (click)="doLogin()">Sign in</button>
                </div>

                <div class="row">
                    <span style="color: red;" *ngIf="errorMessage">{{errorMessage}}</span>
                </div>

              
        </div>
    </div>
</section>

